<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
    <div class="logo">OAM</div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item>
        <span><i nz-icon nzType="dot-chart" nzTheme="outline"></i><span class="nav-text">DashBoard</span></span>
      </li>
      <li nz-submenu>
        <span title><i nz-icon nzType="database" nzTheme="outline"></i><span class="nav-text">镜像中心</span></span>
        <ul>
          <li nz-menu-item (click)="redictTo('image/view')"><i nz-icon nzType="eye" nzTheme="outline"></i>镜像预览</li>
          <li nz-menu-item><i nz-icon nzType="plus" nzTheme="outline"></i>镜像发布</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i nz-icon nzType="appstore" nzTheme="outline"></i><span class="nav-text">应用管理</span></span>
        <ul>
          <li nz-menu-item (click)="redictTo('app/view')"><i nz-icon nzType="eye" nzTheme="outline"></i>应用预览</li>
          <li nz-menu-item (click)="redictTo('app/change')"><i nz-icon nzType="build" nzTheme="outline"></i>上线变更</li>
          <li nz-menu-item (click)="redictTo('app/sheets')"><i nz-icon nzType="block" nzTheme="outline"></i>操作单</li>
        </ul>
      </li>
      <li nz-submenu>
        <span title><i nz-icon nzType="control" nzTheme="outline"></i><span class="nav-text">Traits 管理</span></span>
        <ul>
          <li nz-menu-item><i nz-icon nzType="plus" nzTheme="outline"></i>新增 Traits</li>
          <li nz-menu-item (click)="redictTo('trait/view')"><i nz-icon nzType="eye" nzTheme="outline"></i>Traits 预览</li>
          <li nz-menu-item><i nz-icon nzType="file-search" nzTheme="outline"></i>服务发现</li>
        </ul>
      </li>
      <li nz-menu-item  (click)="redictTo('resource/view')">
        <span><i nz-icon nzType="cloud-server" nzTheme="outline"></i><span class="nav-text">资源管理</span></span>
      </li>
      <li nz-menu-item>
        <span><i nz-icon nzType="monitor" nzTheme="outline"></i><span class="nav-text">监控</span></span>
      </li>
      <li nz-menu-item>
        <span><i nz-icon nzType="question" nzTheme="outline"></i><span class="nav-text">HELP</span></span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding:0;">
      <i class="trigger" nz-icon [type]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i>
    </nz-header>
    <nz-content style="margin:0 16px; height: 100%; padding: 0 0 0; box-sizing: border-box ; ">
      <router-outlet style="min-height: 707px;"></router-outlet>
    </nz-content>
    <nz-footer style="text-align: center;">OAM Design ©2020 Implement By caili</nz-footer>
  </nz-layout>
</nz-layout>
<ng-template #trigger>
  <i nz-icon type="up"></i>
</ng-template>
